.clearAll{
  clear: both;
  background-color: transparent;
  padding: initial;
  border-color: transparent;
  border-width: 0px;
}

/*FONTE DINOSAUR*/

  .dinosaur{
    font-family: dinosaur, sans-serif;
  }

  .DINosaur-book{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /*
  .DINosaur-book-italic{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .DINosaur-bold-italic{
    font-family: dinosaur, sans-serif;
    font-weight: 700;
    font-style: italic;
  }*/

  .DINosaur-bold{
    font-family: dinosaur, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .DINosaur-medium{
    font-family: dinosaur, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .DINousaur-light{
    font-family: dinosaur, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

/*FIM DA FONTE DINOSAUR*/



/**
* How to make 3-corner-rounded triangle in CSS (SO)
* http://stackoverflow.com/q/14446677/1397351
*/

  .triangle-left,
  .triangle-right{
    position: relative;
    text-align: left;
  }
  .triangle-left:before,
  .triangle-left:after,
  .triangle-right:before,
  .triangle-right:after{
    content: '';
    position: absolute;
    background-color: inherit;
  }
  .triangle-left,
  .triangle-left:before,
  .triangle-left:after,
  .triangle-right,
  .triangle-right:before,
  .triangle-right:after {
    width:  1.7em;
    height: 1.7em;
    border-top-right-radius: 30%;
  }

  .triangle-left{
    transform: rotate(-150deg) skewX(-30deg) scale(1,.866);
  }

  .triangle-right {
    transform: rotate(30deg) skewX(-30deg) scale(1,.866);
  }
  
  .triangle-left:before,
  .triangle-right:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  
  .triangle-left:after,
  .triangle-right:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }

  /* styles below for demonstration purposes only */
  .triangle-left:hover, .triangle-right:hover { background: rgba(0,0,255,.5) }
  .triangle-left:hover:before,.triangle-right:hover:before { background: rgba(255,0,0,.5) }
  .triangle-left:hover:after,.triangle-right:hover:after { background: rgba(255,255,0,.5) }
  

.alerta{
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100vw;
  text-align-last: center;
  position: absolute;
  padding-top: 41vh;
  z-index: 99999;
  top: 0;
  display: none;
}
.alerta p{
  border-style: solid;
  border-width: thick;
  border-color: white;
  width: 40%;
  margin: auto;
  color: white;
  height: auto;
  border-radius: 53px;
  padding: 5vh;
  font-weight: bold;
}
canvas,
.upper-canvas,
.canvas-container{
  z-index: 0;
}

img{
  width: 100%;
}

.hidden{
  display: none;
}

.myBtn{
  width: 8.8vw;
  height: 9vw;
}

.btnOpened{
  z-index: 1000 !important;
}

.backBtn{
  width: 7vw;
  margin: 3vw;
  position: absolute;
  z-index: 999;
  left:0;
}

.topEditor{
  position: absolute;
  z-index: 999;
  right:0;
  margin: 3vw;
}

  .topBtn{
    position: relative;
    float: left;
    overflow: hidden;
    border-radius: 999px;
    margin: 0 1.1vw;
  }

  .topBtn img{
    /*position: absolute;*/
    /*top: -44.1%;*/
    /*left: -54%;*/
    /*bottom: 0;*/
    /*right: 0;*/
    margin: -4.1vw -5.19vw;
    width: 19vw !important;
  }

.bottomEditor{ 
  position: absolute; 
  display: block; 
  bottom: 0; 
  left: 0;
  z-index: 999;
} 
  .bottomEditor div{ 
    float: left;
    margin: 2vw; 
  }

  .circle{
    background-color: blue;
    border-radius: 9999px;
    height: 7vw;
    width: 7vw;
    padding-top: 0;
    margin-top: 0vw !important;
  }

  .circle p{
    font-size: 4.5vw;
    text-align: center;
    margin-top: -0.3vw;
    margin: auto;
  }

.firstLi{
  right: 2vw;
  bottom: 1vw;
  display: flex;
  position: absolute;
  z-index: 999;
}

.firstUl{
  margin: 1vw;
  /*text-align: center;*/
}

/*abas que abrem ao clicar*/
/*stickers, planos de fundo, e etc*/
.secondLi{
  width: 0;
  margin-top: 0;
  height: 21vw; 
  overflow: scroll;
  transform: scale(0.1);
  transition-duration: 0.5s;
  animation-duration: 0.5s;
  position: absolute;
  z-index: 999;
}

.over{
  z-index: 1000;
}

.secondUl{
  display: inline;
}

ul li ul img{
  height: auto;
  width: 30%;
}

.bgDisplayers img{
    width: 20% !important;
    height: auto;
    margin: 3% 2.3% 0vh 2.3%;
    border-style: solid;
    border-width: thin;
    border-color: dimgray;
    border-radius: 5px;
}

.firstUl,
.secondUl{
  width: 9.2vw;
  height: 9vw;
  overflow: hidden;
  border-radius: 999px;
}

.show1,
.show2,
.show3{
  /*VALOR DEPOIS DE ABRIR*/
    margin-top: 0vw !important;
    margin-left: 0vw !important;
  display: block !important;
  transform: scale(1);
  transition-duration: 0.5s;
  animation-duration: 0.5s;
  height: 100vh;
  width: 100vw;
}

.show1 img,
.show2 img,
.show3 img{
  width: 19%
}

#tab1{
  /*VALOR ANTES DE ABRIR*/
    margin-top: 86vh;
    margin-left: 68vw;
  background-color: #C5D2DA;
}

#tab2{
  /*VALOR ANTES DE ABRIR*/
    margin-top: 86vh;
    margin-left: 80vw;
  background-color: #C5D2DA;
}

#tab3{
  /*VALOR ANTES DE ABRIR*/
    margin-top: 86vh;
    margin-left: 91vw;
  background-color: #C5D2DA;
}

#imgBtn1,
#imgBtn2,
#imgBtn3{
  width: 19vw;
  margin: -12.9vw -5.1vw !important; 
}

.hide{
  display: none;
}

.gray{
  background-color: lightgray !important;
}

.whiteTxt{
  color: white !important;
}

.red{
  background-color: #e55a46 !important;
}

.redTxt{
  color: #e55a46 !important;
}

.orange{
  background-color: #f3aa4d !important;
}

.orangeTxt{
  color: #f3aa4d !important;
}

.yellow{
  background-color: #ebcc41 !important;
}

.yellowTxt{
  color: #ebcc41 !important;
}

.green{
  background-color: #76b66a !important;
}

.greenTxt{
  color: #76b66a !important;
}

.blue{
  background-color: #56bbd9 !important;
}

.blueTxt{
  color: #56bbd9 !important;
}

.colors{
    background-image: linear-gradient(to right, red, blue, green, yellow);
}
.colors2{
    background-image: url("img/icones/icones-11.png");
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*
----------------------------
*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;*/
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
