/*geral*/

  /*Colors*/
    
    .white{
      background-color: white;
    }

    .whiteTxt{
      color: white;
    }

    .gray{
      background-color: lightgray;
    }

    .red{
      background-color: #e55a46;
    }

    .redTxt,
    .registerTag a{
      color: #e55a46;
    }

    .orange{
      background-color: #f3aa4d;
    }

    .orangeTxt{
      color: #f3aa4d;
    }

    .yellow{
      background-color: #ebcc41;
    }

    .yellowTxt{
      color: #ebcc41;
    }

    .green{
      background-color: #76b66a;
    }

    .greenTxt{
      color: #76b66a;
    }

    .blue{
      background-color: #56bbd9;
    }

    .blueTxt{
      color: #56bbd9;
    }


/*FONTE DINOSAUR*/

  .dinosaur{
    font-family: dinosaur, sans-serif;
  }

  .DINosaur-book{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /*
  .DINosaur-book-italic{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .DINosaur-bold-italic{
    font-family: dinosaur, sans-serif;
    font-weight: 700;
    font-style: italic;
  }*/

  .DINosaur-bold{
    font-family: dinosaur, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .DINosaur-medium{
    font-family: dinosaur, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .DINosaur-light{
    font-family: dinosaur, sans-serif;
    font-weight: 300;
    font-style: normal;
  }
    
  /**{margin: 0; padding: 0;}*/
/*  *{
    margin: 0;
    padding: 0;
  }*/
  body{
    background-image: url(../img/bg/cropped/bg_10.svg);
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 840%;
    margin: 0px;
  }

  @font-face {
    font-family: myDinosaur;
    src: url(../font/dinosaur.ttf);
  }

  .dinosaur{
    font-family: dinosaur, sans-serif;
  }


  .container{
    padding: 5%;
    max-height: 80vh;
  }

  .allignBottom{
    bottom: 0px;
    position: absolute;
  }

  img{
    width: 100%
  }
    .logoContainer{
      width: 80%;
      margin: 5vw auto;
    }

  .hide{
    display: none !important;
  }

  .backBtn{
    width: 16vw;
    max-width: 16vw;
    margin: 0vw;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    left: 0;
    border-style: none;
  }

/*index.html + register.html*/

  .registerBtn{
    border:solid !important;
  }

  form select,
  .dropdownInput{
    background-color: white;
  }

  form input,
  form select,
  .registerBtn,
  .dropdownInput{
    width: -webkit-fill-available;
    margin-top: 2vh;
    border-radius: 50px;
    border: solid;
  }

  form input{
    height: 0px;
    padding: 16px;
  }

  form select,
  .registerBtn{
    height: 50px;
    padding-left: 12px;
  }

    .registerTag{
      text-align-last: center;
      width: 100%;
    }
      
      .registerTag a{
        /*
        checar:
        geral/Colors
        */
      }

/*storyList.html*/
  .videoDisplay{
    display: none;
  }
    .playButton{
      padding-top: 2vh;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
    }

      .playButton img{
        width: 100%;
        margin: 0%;
      }

    .videoBox{
      width: 100%;
      height: 100%;
      margin: 0px;
      top: 0px;
      position: absolute;
      display: block;
      z-index: 999;
    }

  .perfilTab{
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: -webkit-center;
    top: -150vh;
    z-index: 2;
    transition-duration: 0.5s;
  }
    .perfilDetails{
      .
    }

      .perfilImgContainer{
        width: 30vw;
        height: 30vw;
        margin-top: 5%;
        border-radius: 500px;
        background-color: black;
        overflow: hidden;
      }

      .perfilImgContainer img{
        width: 80%;
        margin-top: 10%;
        border-radius: 500px;
      }

    .hiMsg{
      color: white;
      font-size: x-large;
      text-align: center;
    }

    .btnPerfil{
      width: 90%;
      margin: 5%;
      border-style: solid;
      background-color: transparent;
      color: white;
      font-size: large;
      border-radius: 500px;
      padding: 10px;
      border-width: thick;
    }
  .perfilOut{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
  }

  .SLBtnWrapper{
    width: 90%;
    padding: 5%;
    height: 88px; 
    position: fixed;
  }

  .SLBtn{
    width: calc(90% - (4px*2));
    margin-left: 13%;
    text-align: center;
    padding: 16px 16px 16px 44px;
    border-style: solid;
    border-width: 4px;
    box-sizing: border-box;
    border-radius: 50px;
  }

  .SLCircle{
    position: relative;
    width: 30vw;
    height: 30vw;
    margin-top: -9%;
    padding-top: 0%;
    box-sizing: border-box;
    border-radius: 999px;
    border-style: solid;
    border-width: 4px;
  }
    .SLCircleChild{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .SLCircleChild img{
      width: 50%;
      margin-left: 27%;
      margin-top: 18%;
    }

  .storyItem{
    width: 88vw;
    height: 30vw;
    margin: 1vw auto 3vw auto;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    /*
    shadow designed with help from:

    The ultimate CSS tools for web designers - <https://www.cssmatic.com/box-shadow>
    
    */
    -webkit-box-shadow: 6px 7px 10px -1px rgba(0,0,0,0.12);
    -moz-box-shadow: 6px 7px 10px -1px rgba(0,0,0,0.12);
    box-shadow: 6px 7px 10px -1px rgba(0,0,0,0.12);
  }

    .storyDivEsq{
      float: left;
      width: 30%;
      height: 100%;
      background-image: url("../img/editor_bg/blackAndWhite/trim/1.jpg");
      background-size: cover;
      background-position: center;
    }

    .storyDivDir{
      float: right;
      padding: 10px;
      box-sizing: border-box;
      width: 70%;
      height: 100%;
    }

    .storyTitle{
      width: fit-content;
      margin: 0;
      font-family: dinosaur, sans-serif;
      font-weight: bold;
      font-size: 2.6vh;
      min-inline-size: max-content;
    }

    .storyClass{
      font-family: dinosaur, sans-serif;
      font-size: 2vh;
      width: fit-content;
      margin: 0 0 20px 0;
    }

    .storyEditBtn{
      border-radius: 5px;
      -webkit-box-shadow: 6px 7px 10px -1px rgba(0,0,0,0.12);
      -moz-box-shadow: 6px 7px 10px -1px rgba(0,0,0,0.12);
      box-shadow: 6px 7px 10px -1px rgba(0,0,0,0.12);
    }

    .storyShareBtn{
      width: 45%;
    }

    .storyDelBtn{
      width: 20%;
    }

    .storyShareBtn,
    .storyEditBtn,
    .storyDelBtn{
      font-size: 1.6vh;
      padding: 5px;
      float: left;
      color: white;
    }

  .container{
    margin: 5%;
    max-height: 90vh;
    overflow: scroll; 
  }

  

/*newStory.html*/

  .alerta{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100vw;
    text-align-last: center;
    position: absolute;
    padding-top: 41vh;
    z-index: 1;
    top: 0;
    display: none;
  }
  .alerta p{
    border-style: solid;
    border-width: thick;
    border-color: white;
    width: 70%;
    margin: auto;
    color: white;
    height: 6vh;
    border-radius: 53px;
    padding-top: 3vh;
    font-weight: bold;
  }
