/*geral*/

body{
   background-image: url("../img/bg/cropped/bg_1.jpg");
  padding: 0px;
  margin: 0px;
}
  /*Colors*/
    
    .white{
      background-color: white;
    }

    .whiteTxt{
      color: white;
    }

    .gray{
      background-color: lightgray;
    }


    .red{
      background-color: #e55a46;
    }

    .redTxt,
    .registerTag a{
      color: #e55a46;
    }

    .orange{
      background-color: #f3aa4d;
    }

    .orangeTxt{
      color: #f3aa4d;
    }

    .yellow{
      background-color: #ebcc41;
    }

    .yellowTxt{
      color: #ebcc41;
    }

    .green{
      background-color: #76b66a;
    }

    .greenTxt{
      color: #76b66a;
    }

    .blue{
      background-color: #56bbd9;
    }

    .blueTxt{
      color: #56bbd9;
    }



.container{
  padding: 5%;
  /*min-height: 95vh*/
}

.allignBottom{
  bottom: 0px;
  position: absolute;
}

img{
  width: 100%
}
  .logoContainer{
    width: 80%;
    margin: auto;
  }

/*index.html + register.html*/

  .registerBtn{
    border:none !important;
  }

  form input,
  form select,
  .registerBtn{
    width: -webkit-fill-available;
    margin-top: 2vh;
    border-radius: 50px;
    border: solid;
  }

  form input{
    height: 0px;
    padding: 16px;
  }

  form select,
  .registerBtn{
    height: 37px;
    padding-left: 12px;
  }

    .registerTag{
      text-align-last: center;
      width: 100%;
    }
      
      .registerTag a{
        /*
        checar:
        geral/Colors
        */
      }

/*storyList.html*/

.SLBtnWrapper{
  width: 90%;
  padding: 5%;
  height: 88px; 
}

.SLBtn{
  width: calc(90% - (4px*2));
  margin-left: 13%;
  text-align: center;
  padding: 16px 16px 16px 44px;
  border-style: solid;
  border-width: 4px;
  box-sizing: border-box;
}

.SLCircle{
    position: relative;
    width: 30%;
    margin-top: -8%;
    padding-top: 30%;
    box-sizing: border-box;
    border-radius: 999px;
    border-style: solid;
    border-width: 4px;
}
  .SLCircleChild{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .SLCircleChild img{
    width: 60%;
    margin-left: 30%;
    margin-top: 12%;
  }